1.Titanic - Machine Learning from Disaster/kaggle/input/titanic/gender_submission.csv
1.Titanic - Machine Learning from Disaster/kaggle/input/titanic/test.csv
1.Titanic - Machine Learning from Disaster/kaggle/input/titanic/train.csv